p{
    color: rgb(12, 12, 12);
    font-size: medium;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}
h1 {color: rgba(36, 12, 108, 0.678);
font-weight: 700;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: xx-large;
}


#abstract {
    font-size: larger;
    font-weight: bolder;
}

div {
    text-align: center;
}
#Introduction {
    font-size: larger;
    font-weight: bold;
}
